<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <img src="../../assets/logo.jpg" class="logo">
        <h5 class="my-0 mr-md-auto font-weight-normal">Biryani Galli</h5>
            <nav class="my-2 my-md-0 mr-md-3">
              <a class="p-2 text-dark" href="/">Home</a>
                <div class="drop">
                  <a class="drop_btn" style="color:black">Register</a>
                    <ul class="drop-content">
                        <li><a href="/regu">As user</a></li>
                    </ul>
                </div> 
            </nav>
            <div class="drop">
              <a class="drop_btn" style="color:black">Sign up</a>
                <ul class="drop-content">
                    <li><a href="/loginuser">As user</a></li>
                    <li><a href="/loginadmin">As admin</a></li>
                </ul>
            </div>
    </div>
    <br><br>
</header>
<div class="jumbotron">
<h2 style="text-align: center;color:crimson"><i>About us</i></h2>
<br><br>
<p><b><i>
    "In a world where "authentic biryani" is used more as a phrase rather than served as a dish, we at Biryani Galli have made it our goal to serve truly authentic, 
     Biryani to those who know the taste that goes with that promise.
     Using the finest ingredients, our chefs cook a vast array of Tikkas, Kebabs and Curries, which are specially chosen to complement our world class Biryani selection. 
    All of this is also available in the form of Super Saver price aimed at 
    making the experience of dining with family and friends all the more enjoyable. Amazing Biryani, the best accompanying dishes and good times with family 
    and friends, in short: A Biryani lover's paradise."
</i></b></p>
</div>