<div class="jumbotron">
    <h2>Update user data</h2>
    <br><br><br>
    <div *ngIf="form" class="table table-bordered text-danger">
        <form [formGroup]="form" (ngSubmit)="update()">
            <div>
                <label>User name</label>:
                <input type="text" placeholder="write user name" formControlName="user_name" required/>
                <div class="alert alert-primary" *ngIf="form.get('user_name').invalid && form.get('user_name').touched">
                    <div *ngIf="form.get('user_name').errors.required">
                        Please enter  user name
                    </div> 
                </div>
            </div>
            <div>
                <label>User password</label>:
                <input type="text" placeholder="write user password" formControlName="user_password" required/>
                <div class="alert alert-primary" *ngIf="form.get('user_password').invalid && form.get('user_password').touched">
                    <div *ngIf="form.get('user_password').errors.required">
                        Please enter user password
                    </div>
                </div>
            </div>
            <div>
                <label>User Address</label>:
                <textarea placeholder="write user address" formControlName="user_addrs" required></textarea>
                <div class="alert alert-primary" *ngIf="form.get('user_addrs').invalid && form.get('user_addrs').touched">
                    <div *ngIf="form.get('user_addrs').errors.required">
                        Please enter user address
                    </div>
                </div>
            </div>
            <div>
                <label>User mobile number</label>:
                <input type="number" placeholder="write user mobile number" formControlName="user_mobile" required/>
                <div class="alert alert-primary" *ngIf="form.get('user_mobile').invalid && form.get('user_mobile').touched">
                    Please enter user mobile number
                </div>
            </div>
            <br><br>
            <div>
                <button class="btn btn-primary" type="submit">Save</button>&nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary" type="reset">Clear</button>
            </div>
            <br><br>
        </form>
    </div>
</div>



