<div class='jumbotron'>
    <h2 style="text-align: center; color:cyan">Product data</h2>
    <br><br>
    <table class="table table-bordered table-striped table-hover">
    <thead>
        <tr style="background-color: indianred;color:indigo">
            <th> Product Name </th>
            <th> Product Image </th>
            <th> Product Type </th>
            <th> Product Description </th>
            <th> Product Price </th>
            <th> Update Product </th>
            <th> Delete Product </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let p of product">
            <td>{{p.prod_name}}</td>
            <!--<td>{{p.prod_img}}</td>-->
            <td><img [src]="p.prod_img" alt="p.prod_img"></td>
            <td>{{p.prod_type}}</td>
            <td>{{p.prod_desc}}</td>
            <td>{{p.prod_price}}</td>
            <td><a class="btn btn-info" [routerLink]="['/updatep',p.id]">Edit data</a></td>
            <td><a class="btn btn-danger" (click)="delete(p.id)">Delete data</a></td>
        </tr>
    </tbody>
</table>
<br><br>
<button class="btn btn-primary" [routerLink]="['/admin']">Back</button>
</div>

